/*
To Do List Section partial
===========================
*/

.todos {
    h2 {
        margin-bottom: 10px;
    }
}
.toDoList {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.toDoListItem {
    font-size: $sizeToDo;
    font-weight: bold;
    display: flex;
    width: 300px;
    min-width: 300px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

    button {
        background-color: transparent;
        border: none;
    }
    p {
        margin: 10px;
    }

    .tomatoes {
        display: block;
    }
}