// fonts 
$curvyFont: manteiga-gorda,
sans-serif;
$bodyFont: josefin-sans,
sans-serif;

// font sizes
$sizeBody: 1.8rem;
$sizeToDo: 1.4rem;
$sizeH1: 4rem;
$sizeH2: 2rem;

// colours
$goldenTomato: #f3b24e;
$darkGrey: #292F36;
$turquiose: #4ecdc4;
$redTomato: #ff6b6b;
$lavender: #946e83;